@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 1rem;
    line-height: 1.6;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}

.section-four{
    background: url(../images/vector-bg.png) center/cover no-repeat;
    height: fit-content;
    padding: 11rem 0;
    position: relative;
}
.section-four-content{
    display: grid;
    row-gap: 9rem;
}
.section-four-content .img img{
    max-width: 260px;
    margin-right: auto;
    margin-left: auto;
}
.section-four-content .info p.text{
    margin-bottom: 4rem;
    max-width: 470px;
    margin-right: auto;
    margin-left: auto;
}
.store-group{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.store-group a{
    width: 100%;
    display: flex;
    justify-content: center;
}
.store-group a:hover{
    transform: scale(1.05);
}
.store-group img{
    width: 170px;
}
.store-group a:first-child{
    margin-bottom: 2rem;
}
/* Media Queries */
@media(min-width: 500px){
    .store-group a{
        width: auto;
    }
    .store-group a:first-child{
        margin-bottom: 0;
        margin-right: 4rem;
    }

}

@media(min-width: 992px){
    .section-four-content{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16rem;
        align-items: center;
    }
    .section-four-content .info{
        text-align: left;
    }
    .section-four-content .img img{
        margin-right: 0;
    }
    .store-group{
        justify-content: flex-start;

    }

}

.holder{
    overflow-x: hidden;
}